.sub-input {
  background-color: #27a3be88;
  border: none;
  height: auto;
  width: 80%;
  resize: none;
  margin: 10px auto;
  padding: 12px;
  border-radius: 12px;
  color: white !important;
  font-size: 1rem;
  font-family: "Maven Pro", sans-serif;
  text-align: center;
  font-weight: bold;
}

.sub-input:focus {
  outline: none;
}

.sub-input::placeholder {
  color: rgba(233, 233, 233, 0.8) !important;
  text-align: center;
  font-weight: bold;
  font-family: "Maven Pro", sans-serif;
}

.action-btn-container.submitted {
  margin-top: 20px;
}

.done-icon {
  background-color: rgb(0, 189, 0) !important;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}