.team-heading {
	font-size: calc(1.5rem + 2.3vw);
	color: var(--primary);
	margin-bottom: 0;
}

.team-subhead {
	font-size: calc(1rem + 1vw);
	font-weight: normal;
}

.team-btn-div {
	margin-top: 50px;
	display: flex;
	/* text-align: center; */
}

.join-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.input-container {
	background-color: #27a3be;
	width: 333px;
	padding: 10px 5px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

.team-input {
	background-color: rgba(249, 249, 249, 0.4);
	border: none;
	height: 40px;
	width: 300px;
	color: white !important;
	font-size: 1.7rem;
	font-family: "Maven Pro", sans-serif;
	text-align: center;
	font-weight: bold;
}

.team-input:focus {
	outline: none;
}

.team-input::placeholder {
	color: rgba(233, 233, 233, 0.8) !important;
	text-align: center;
	font-weight: bold;
	font-family: "Maven Pro", sans-serif;
}

.action-btn-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.already-joined-div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}