.dash-avatar {
  width: 96px;
  height: 96px;
  border-radius: 15px;
}

.dash-heading {
  font-size: calc(1.3rem + 2vw);
  color: var(--primary);
  margin-bottom: 0;
}

.dash-subhead {
  font-size: calc(1rem + 1vw);
  font-weight: normal;
}

.dash-btn-div {
  margin-top: 50px;
}

.slider-picker {
  margin: 20px 0 !important;
}