.landing-page {
	font-family: "Maven Pro", sans-serif !important;
	color: white;
}

.landing-content {
	height: calc(100vh - 121px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.landing-nav {
	padding: 20px 5%;
	color: white !important;
}

.login-head {
	color: #2CC8EB;
	font-weight: 900;
	font-size: calc(1rem + 3vw);
	margin-bottom: 0;
}

.login-subhead {
	font-weight: normal;
}

#login-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 50px 0;
}

#login-form .MuiTextField-root {
	width: 100% !important;
}

#login-form .MuiOutlinedInput-notchedOutline {
	border-radius: 0 !important;
	border-color: #2CC8EB !important;
	/* background-color: white !important; */
	border-left-width: 5px !important;
	color: white !important;
}

#login-form .MuiInputLabel-outlined, .MuiOutlinedInput-input {
	color: white !important;
	font-family: "Maven Pro", sans-serif !important;
}

#login-form .MuiInputLabel-outlined.MuiInputLabel-shrink {
	color: #2CC8EB !important;
}

.login-field {
	margin: 10px 0 !important;
}

.btn-bar {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 50px;
}

.btn-bar .primary-button {
	width: 100px;
	height: 50px;
	color: white;
	background-color: #2CC8EB;
	border: none;
	border-radius: 6px;
	font-weight: bold;
	font-size: 1rem;
	cursor: pointer;
	font-family: "Maven Pro", sans-serif !important;
	margin-right: 5%;
	transition: 0.2s all ease-in-out;
}

.btn-bar .primary-button:hover {
	background-color: #229bb6;
	color: white;
}

.btn-bar .secondary-button {
	width: 100px;
	height: 50px;
	color: white;
	background-color: transparent;
	border: 1px solid #2CC8EB;
	color: #2CC8EB;
	border-radius: 6px;
	font-weight: bold;
	font-size: 1rem;
	cursor: pointer;
	font-family: "Maven Pro", sans-serif !important;
	transition: 0.2s all ease-in-out;
}

.btn-bar .secondary-button:hover {
	/* background-color: #229bb6; */
	border-width: 3px;
	/* color: white; */
}

.landing-image {
	width: 500px;
}