@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap");
:root {
  --primary: #2cc8eb;
  --secondary: #1958a1;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1d1d1d;
  background-image: url("./assets/background.png");
  background-size: cover;
  background-position: bottom left;
  font-family: "Maven Pro", sans-serif !important;
  min-height: 100vh;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  text-decoration: none !important;
  color: white !important;
}

.wrapper {
  width: calc(100% - 20px);
  height: calc(100vh - 121px);
  padding: 10px;
  flex-direction: column;
  color: white;
}